*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: #ccc;
  height: 100vh;
  display: flex;
}
.row{
  margin: auto;
  text-align: center;
}
h1{
  font-size: 3em;
}
#contentimg{
  position: relative;
}
i{
  font-size: 35px;
  cursor: pointer;
}
img{
  width: 400px;
  height: 300px;
  margin-top: 30px;
}
.fa-arrow-left{
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.fa-arrow-right{
  top: 50%;
  right: -15%;
  transform: translate(-50%, -50%);
  position: absolute;
}
